<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gao.shun.sg.shareduserid.app2"
    android:sharedUserId="sg.shun.gao.shareduserid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:process="sg.shun.gao.shareduserid"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SharedUserIdActivity2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
